In [9]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from selenium import webdriver
import time
driver=webdriver.Chrome('c:/pydata/chromedriver.exe')
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

C:\Users\Admin\AppData\Local\Temp\ipykernel_4380\45677208.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome('c:/pydata/chromedriver.exe')

In [12]:
df = pd.read_csv('업종별_href_code_list_1025.csv')
df

,ind,top_5_ind_list,top_5_href,top_5_code
0,의약품,"['삼성바이오로직스', '셀트리온', 'SK바이오사이언스', '유한양행', '한미약품']","['https://finance.daum.net/quotes/A207940', 'h...","['207940', '068270', '302440', '000100', '1289..."
1,전기전자,"['삼성전자', 'LG에너지솔루션', 'SK하이닉스', '삼성SDI', '삼성전자우']","['https://finance.daum.net/quotes/A005930', 'h...","['005930', '373220', '000660', '006400', '0059..."
2,비금속광물,"['포스코케미칼', '쌍용C&E', '아이에스동서', '한일시멘트', 'KCC글라스']","['https://finance.daum.net/quotes/A003670', 'h...","['003670', '003410', '010780', '300720', '3448..."
3,통신업,"['SK텔레콤', 'KT', 'LG유플러스', '현대퓨처넷', '인스코비']","['https://finance.daum.net/quotes/A017670', 'h...","['017670', '030200', '032640', '126560', '0064..."
4,음식료품,"['CJ제일제당', '오리온', '농심', '오뚜기', '하이트진로']","['https://finance.daum.net/quotes/A097950', 'h...","['097950', '271560', '004370', '007310', '0000..."
5,종이목재,"['한솔제지', '아세아제지', '신대양제지', '무림P&P', '영풍제지']","['https://finance.daum.net/quotes/A213500', 'h...","['213500', '002310', '016590', '009580', '0067..."
6,은행,[],[],[]
7,서비스업,"['NAVER', '카카오', '삼성에스디에스', '크래프톤', '엔씨소프트']","['https://finance.daum.net/quotes/A035420', 'h...","['035420', '035720', '018260', '259960', '0365..."
8,전기가스업,"['한국전력', '한국가스공사', '서울가스', '삼천리', 'SGC에너지']","['https://finance.daum.net/quotes/A015760', 'h...","['015760', '036460', '017390', '004690', '0050..."
9,운수장비,"['현대차', '기아', '현대모비스', '현대중공업', '한국조선해양']","['https://finance.daum.net/quotes/A005380', 'h...","['005380', '000270', '012330', '329180', '0095..."
10,보험,"['삼성생명', '삼성화재', 'DB손해보험', '메리츠화재', '현대해상']","['https://finance.daum.net/quotes/A032830', 'h...","['032830', '000810', '005830', '000060', '0014..."
11,의료정밀,"['에스디바이오센서', '덴티움', '케이씨텍', '케이씨', '우진']","['https://finance.daum.net/quotes/A137310', 'h...","['137310', '145720', '281820', '029460', '1058..."
12,섬유의복,"['F&F', '한섬', '한세실업', 'LF', '방림']","['https://finance.daum.net/quotes/A383220', 'h...","['383220', '020000', '105630', '093050', '0036..."
13,금융업,"['KB금융', '신한지주', 'SK', '삼성생명', 'LG']","['https://finance.daum.net/quotes/A105560', 'h...","['105560', '055550', '034730', '032830', '0035..."
14,증권,"['미래에셋증권', 'NH투자증권', '삼성증권', '메리츠증권', '키움증권']","['https://finance.daum.net/quotes/A006800', 'h...","['006800', '005940', '016360', '008560', '0394..."
15,운수창고,"['HMM', '대한항공', '현대글로비스', '한진칼', '팬오션']","['https://finance.daum.net/quotes/A011200', 'h...","['011200', '003490', '086280', '180640', '0286..."
16,유통업,"['삼성물산', 'BGF리테일', '호텔신라', 'GS리테일', '롯데쇼핑']","['https://finance.daum.net/quotes/A028260', 'h...","['028260', '282330', '008770', '007070', '0235..."
17,철강금속,"['POSCO홀딩스', '고려아연', '현대제철', '영풍', '동국제강']","['https://finance.daum.net/quotes/A005490', 'h...","['005490', '010130', '004020', '000670', '0012..."
18,화학,"['LG화학', 'SK이노베이션', 'S-Oil', '한화솔루션', 'LG생활건강']","['https://finance.daum.net/quotes/A051910', 'h...","['051910', '096770', '010950', '009830', '0519..."
19,건설업,"['현대건설', 'GS건설', '대우건설', '한전KPS', 'DL이앤씨']","['https://finance.daum.net/quotes/A000720', 'h...","['000720', '006360', '047040', '051600', '3755..."
20,기계,"['두산에너빌리티', '한온시스템', '두산밥캣', '씨에스윈드', 'LIG넥스원']","['https://finance.daum.net/quotes/A034020', 'h...","['034020', '018880', '241560', '112610', '0795..."

In [14]:
# 값없는 은행 드랍
df.drop(6, inplace=True)
df

,ind,top_5_ind_list,top_5_href,top_5_code
0,의약품,"['삼성바이오로직스', '셀트리온', 'SK바이오사이언스', '유한양행', '한미약품']","['https://finance.daum.net/quotes/A207940', 'h...","['207940', '068270', '302440', '000100', '1289..."
1,전기전자,"['삼성전자', 'LG에너지솔루션', 'SK하이닉스', '삼성SDI', '삼성전자우']","['https://finance.daum.net/quotes/A005930', 'h...","['005930', '373220', '000660', '006400', '0059..."
2,비금속광물,"['포스코케미칼', '쌍용C&E', '아이에스동서', '한일시멘트', 'KCC글라스']","['https://finance.daum.net/quotes/A003670', 'h...","['003670', '003410', '010780', '300720', '3448..."
3,통신업,"['SK텔레콤', 'KT', 'LG유플러스', '현대퓨처넷', '인스코비']","['https://finance.daum.net/quotes/A017670', 'h...","['017670', '030200', '032640', '126560', '0064..."
4,음식료품,"['CJ제일제당', '오리온', '농심', '오뚜기', '하이트진로']","['https://finance.daum.net/quotes/A097950', 'h...","['097950', '271560', '004370', '007310', '0000..."
5,종이목재,"['한솔제지', '아세아제지', '신대양제지', '무림P&P', '영풍제지']","['https://finance.daum.net/quotes/A213500', 'h...","['213500', '002310', '016590', '009580', '0067..."
7,서비스업,"['NAVER', '카카오', '삼성에스디에스', '크래프톤', '엔씨소프트']","['https://finance.daum.net/quotes/A035420', 'h...","['035420', '035720', '018260', '259960', '0365..."
8,전기가스업,"['한국전력', '한국가스공사', '서울가스', '삼천리', 'SGC에너지']","['https://finance.daum.net/quotes/A015760', 'h...","['015760', '036460', '017390', '004690', '0050..."
9,운수장비,"['현대차', '기아', '현대모비스', '현대중공업', '한국조선해양']","['https://finance.daum.net/quotes/A005380', 'h...","['005380', '000270', '012330', '329180', '0095..."
10,보험,"['삼성생명', '삼성화재', 'DB손해보험', '메리츠화재', '현대해상']","['https://finance.daum.net/quotes/A032830', 'h...","['032830', '000810', '005830', '000060', '0014..."
11,의료정밀,"['에스디바이오센서', '덴티움', '케이씨텍', '케이씨', '우진']","['https://finance.daum.net/quotes/A137310', 'h...","['137310', '145720', '281820', '029460', '1058..."
12,섬유의복,"['F&F', '한섬', '한세실업', 'LF', '방림']","['https://finance.daum.net/quotes/A383220', 'h...","['383220', '020000', '105630', '093050', '0036..."
13,금융업,"['KB금융', '신한지주', 'SK', '삼성생명', 'LG']","['https://finance.daum.net/quotes/A105560', 'h...","['105560', '055550', '034730', '032830', '0035..."
14,증권,"['미래에셋증권', 'NH투자증권', '삼성증권', '메리츠증권', '키움증권']","['https://finance.daum.net/quotes/A006800', 'h...","['006800', '005940', '016360', '008560', '0394..."
15,운수창고,"['HMM', '대한항공', '현대글로비스', '한진칼', '팬오션']","['https://finance.daum.net/quotes/A011200', 'h...","['011200', '003490', '086280', '180640', '0286..."
16,유통업,"['삼성물산', 'BGF리테일', '호텔신라', 'GS리테일', '롯데쇼핑']","['https://finance.daum.net/quotes/A028260', 'h...","['028260', '282330', '008770', '007070', '0235..."
17,철강금속,"['POSCO홀딩스', '고려아연', '현대제철', '영풍', '동국제강']","['https://finance.daum.net/quotes/A005490', 'h...","['005490', '010130', '004020', '000670', '0012..."
18,화학,"['LG화학', 'SK이노베이션', 'S-Oil', '한화솔루션', 'LG생활건강']","['https://finance.daum.net/quotes/A051910', 'h...","['051910', '096770', '010950', '009830', '0519..."
19,건설업,"['현대건설', 'GS건설', '대우건설', '한전KPS', 'DL이앤씨']","['https://finance.daum.net/quotes/A000720', 'h...","['000720', '006360', '047040', '051600', '3755..."
20,기계,"['두산에너빌리티', '한온시스템', '두산밥캣', '씨에스윈드', 'LIG넥스원']","['https://finance.daum.net/quotes/A034020', 'h...","['034020', '018880', '241560', '112610', '0795..."

In [4]:
for val in df.top_5_code[0][1:-1].replace("'", '').split(','):
    print(val.strip())

207940
068270
302440
000100
128940

In [5]:
# 주가 크롤링 함수
def stock_crawler(code_value, company_name):
    page=1

    # 삼성전자 005930
    code=f'{code_value}'
    url='https://finance.naver.com/item/sise_day.nhn?code='+ code + '&page='

    driver=webdriver.Chrome('c:/pydata/chromedriver.exe')
    driver.get(url+str(page))
    html = bs(driver.page_source, 'html.parser')
    endPage=html.find('td', class_="pgRR").find('a')['href'].split('=')[-1]

    nav_finance=[]

    for page in range(1, int(endPage)+1):
        driver.get(url+str(page))
        html = bs(driver.page_source, 'html.parser')
        soup_tr=html.find_all('tr')
        for i in range(2, 15):
            day_data=[]
            soup_td=soup_tr[i].find_all('td')
            if len(soup_td) < 7 :
                continue
            else:
                for td_txt in soup_td:
                    if td_txt.text == u'\xa0':
                        continue
                    else:
                        day_data.append(td_txt.text.replace('.', '-').replace('\n','').replace('\t', '').replace(',', ''))
                        # day_data.append(re('[가-힣0-9a-zA-Z]+',td_txt.text))

            nav_finance.append(day_data)

    driver.close()

    df=pd.DataFrame(nav_finance, columns=['날짜',company_name,"전일비",'시가','고가','저가','거래량'])
    # print(df.info())
    df=df.dropna()
    # df['날짜']=pd.to_datetime(df['날짜'])
    df['날짜'] = [ pd.to_datetime(df.iloc[date, 0]).strftime('%Y%m%d') for date in range(len(df))]
    df = df.sort_values(by='날짜')
    df = df[['날짜', company_name]]
    return df
# 파일 저장 코드
#today = datetime.today().strftime('%Y_%m_%d')
# df.to_csv(f'./삼성전자_{today}.csv', index=False)

In [6]:
# 코스피 크롤링
page=1
code='KOSPI'
url='https://finance.naver.com/sise/sise_index_day.naver?code='+ code + '&page='

driver=webdriver.Chrome('c:/pydata/chromedriver.exe')
driver.get(url+str(page))
html = bs(driver.page_source, 'html.parser')
endPage=html.find('td', class_="pgRR").find('a')['href'].split('=')[-1]

nav_finance=[]

for page in range(1, int(endPage)+1):
    driver.get(url+str(page))
    html = bs(driver.page_source, 'html.parser')
    soup_tr=html.find_all('tr')
    for i in range(2, 14):
        day_data=[]
        soup_td=soup_tr[i].find_all('td')
        if len(soup_td) < 6 :
            continue
        else:
            for td_txt in soup_td:
                if td_txt.text == u'\xa0':
                    continue
                else:
                    day_data.append(td_txt.text.replace('.', '-').replace('\n','').replace('\t', '').replace(',', ''))
                    # day_data.append(re('[가-힣0-9a-zA-Z]+',td_txt.text))

        nav_finance.append(day_data)

driver.close()
df_KOSPI=pd.DataFrame(nav_finance, columns=['날짜','KOSPI',"전일비",'등락률', '거래량','거래대금'])
df_KOSPI=df_KOSPI.dropna()
df_KOSPI['날짜'] = [ pd.to_datetime(df_KOSPI.iloc[date, 0]).strftime('%Y%m%d') for date in range(len(df_KOSPI))]
df_KOSPI = df_KOSPI.sort_values(by='날짜', ascending=False)
df_KOSPI = df_KOSPI[['날짜', 'KOSPI']]
df_KOSPI_price = []
for idx in df_KOSPI.index :
    df_KOSPI_price.append(df_KOSPI.loc[idx, 'KOSPI'].replace('-', ''))
df_KOSPI['KOSPI'] = df_KOSPI_price
df_KOSPI

C:\Users\Admin\AppData\Local\Temp\ipykernel_4380\2769799629.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome('c:/pydata/chromedriver.exe')

            날짜   KOSPI
0     20221025  223876
1     20221024  223616
2     20221021  221312
3     20221020  221809
4     20221019  223744
...        ...     ...
8514  19900109   92021
8515  19900108   91946
8516  19900106   91286
8517  19900105   91511
8518  19900104   92882

[8519 rows x 2 columns]

In [15]:
# 복사본 생성
df_KOSPI_merge = df_KOSPI.copy()
df_KOSPI_merge

            날짜   KOSPI
0     20221025  223876
1     20221024  223616
2     20221021  221312
3     20221020  221809
4     20221019  223744
...        ...     ...
8514  19900109   92021
8515  19900108   91946
8516  19900106   91286
8517  19900105   91511
8518  19900104   92882

[8519 rows x 2 columns]

In [16]:
# 모든 종목 크롤링 및 코스피랑 합치기
for idx in df.index :
    stock_code_list = df.loc[idx, 'top_5_code'][1:-1].replace("'", '').split(',')
    stock_name_list = df.loc[idx, 'top_5_ind_list'][1:-1].replace("'", '').split(',')
    print(f'{stock_name_list} 크롤링 시작')
    for val_nm in range(len(stock_code_list)):
        df_temp = stock_crawler(stock_code_list[val_nm].strip(), stock_name_list[val_nm].strip())
        df_KOSPI_merge = pd.merge(df_KOSPI_merge, df_temp, how='left', on='날짜')
df_KOSPI_merge

['삼성바이오로직스', ' 셀트리온', ' SK바이오사이언스', ' 유한양행', ' 한미약품'] 크롤링 시작
['삼성전자', ' LG에너지솔루션', ' SK하이닉스', ' 삼성SDI', ' 삼성전자우'] 크롤링 시작
['포스코케미칼', ' 쌍용C&E', ' 아이에스동서', ' 한일시멘트', ' KCC글라스'] 크롤링 시작
['SK텔레콤', ' KT', ' LG유플러스', ' 현대퓨처넷', ' 인스코비'] 크롤링 시작
['CJ제일제당', ' 오리온', ' 농심', ' 오뚜기', ' 하이트진로'] 크롤링 시작
['한솔제지', ' 아세아제지', ' 신대양제지', ' 무림P&P', ' 영풍제지'] 크롤링 시작
['NAVER', ' 카카오', ' 삼성에스디에스', ' 크래프톤', ' 엔씨소프트'] 크롤링 시작
['한국전력', ' 한국가스공사', ' 서울가스', ' 삼천리', ' SGC에너지'] 크롤링 시작
['현대차', ' 기아', ' 현대모비스', ' 현대중공업', ' 한국조선해양'] 크롤링 시작
['삼성생명', ' 삼성화재', ' DB손해보험', ' 메리츠화재', ' 현대해상'] 크롤링 시작
['에스디바이오센서', ' 덴티움', ' 케이씨텍', ' 케이씨', ' 우진'] 크롤링 시작
['F&F', ' 한섬', ' 한세실업', ' LF', ' 방림'] 크롤링 시작
['KB금융', ' 신한지주', ' SK', ' 삼성생명', ' LG'] 크롤링 시작
['미래에셋증권', ' NH투자증권', ' 삼성증권', ' 메리츠증권', ' 키움증권'] 크롤링 시작
['HMM', ' 대한항공', ' 현대글로비스', ' 한진칼', ' 팬오션'] 크롤링 시작
['삼성물산', ' BGF리테일', ' 호텔신라', ' GS리테일', ' 롯데쇼핑'] 크롤링 시작
['POSCO홀딩스', ' 고려아연', ' 현대제철', ' 영풍', ' 동국제강'] 크롤링 시작
['LG화학', ' SK이노베이션', ' S-Oil', ' 한화솔루션', ' LG생활건강'] 크롤링 시작
['현대건설', ' GS건설', ' 대우건설', ' 한전KPS', ' DL이앤씨'] 크롤링 시작
['두산에너빌리티', ' 한온시스템', ' 두산밥캣', ' 씨에스윈드', ' LIG넥스원'] 크롤링 시작

,날짜,KOSPI,삼성바이오로직스,셀트리온,SK바이오사이언스,유한양행,한미약품,삼성전자,LG에너지솔루션,SK하이닉스,...,현대건설,GS건설,대우건설,한전KPS,DL이앤씨,두산에너빌리티,한온시스템,두산밥캣,씨에스윈드,LIG넥스원
0,20221025,223876,892000,185500,77400,58400,247500,58200,524000,94100,...,34050,21850,3975,31600,36350,12800,7490,29650,57000,90200
1,20221024,223616,873000,178000,75200,57200,246500,57500,509000,91800,...,34950,22450,4165,32150,36450,13600,7450,30800,63500,90900
2,20221021,221312,847000,174000,71800,55500,243000,55900,499000,90500,...,34150,21700,3975,31700,34550,13300,7590,30250,63200,87500
3,20221020,221809,835000,171500,72700,56400,240000,55500,495000,90200,...,36450,22950,4230,32900,36100,14050,7640,30900,63600,87800
4,20221019,223744,847000,171500,74900,55500,240500,55800,497500,92900,...,35700,23100,4215,31300,36000,13350,7640,30600,63700,88300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8514,19900109,92021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8515,19900108,91946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8516,19900106,91286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8517,19900105,91511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8518,19900104,92882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# 결과 저장
df_KOSPI_merge.to_csv('주식_대장주_크롤링_결과_1025.csv', index=False)

In [20]:
# 저장한 파일 불러와서 작업
df_stock_result = pd.read_csv('주식_대장주_크롤링_결과_1025.csv')
df_stock_result

,날짜,KOSPI,삼성바이오로직스,셀트리온,SK바이오사이언스,유한양행,한미약품,삼성전자,LG에너지솔루션,SK하이닉스,...,현대건설,GS건설,대우건설,한전KPS,DL이앤씨,두산에너빌리티,한온시스템,두산밥캣,씨에스윈드,LIG넥스원
0,20221025,223876,892000.0,185500.0,77400.0,58400.0,247500.0,58200.0,524000.0,94100.0,...,34050.0,21850.0,3975.0,31600.0,36350.0,12800.0,7490.0,29650.0,57000.0,90200.0
1,20221024,223616,873000.0,178000.0,75200.0,57200.0,246500.0,57500.0,509000.0,91800.0,...,34950.0,22450.0,4165.0,32150.0,36450.0,13600.0,7450.0,30800.0,63500.0,90900.0
2,20221021,221312,847000.0,174000.0,71800.0,55500.0,243000.0,55900.0,499000.0,90500.0,...,34150.0,21700.0,3975.0,31700.0,34550.0,13300.0,7590.0,30250.0,63200.0,87500.0
3,20221020,221809,835000.0,171500.0,72700.0,56400.0,240000.0,55500.0,495000.0,90200.0,...,36450.0,22950.0,4230.0,32900.0,36100.0,14050.0,7640.0,30900.0,63600.0,87800.0
4,20221019,223744,847000.0,171500.0,74900.0,55500.0,240500.0,55800.0,497500.0,92900.0,...,35700.0,23100.0,4215.0,31300.0,36000.0,13350.0,7640.0,30600.0,63700.0,88300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8514,19900109,92021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8515,19900108,91946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8516,19900106,91286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8517,19900105,91511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8518,19900104,92882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df_stock_1year = df_stock_result[df_stock_result['날짜'] > 20211024].sort_values(by='날짜', ascending=False)
df_stock_1year

,날짜,KOSPI,삼성바이오로직스,셀트리온,SK바이오사이언스,유한양행,한미약품,삼성전자,LG에너지솔루션,SK하이닉스,...,현대건설,GS건설,대우건설,한전KPS,DL이앤씨,두산에너빌리티,한온시스템,두산밥캣,씨에스윈드,LIG넥스원
0,20221025,223876,892000.0,185500.0,77400.0,58400.0,247500.0,58200.0,524000.0,94100.0,...,34050.0,21850.0,3975.0,31600.0,36350.0,12800.0,7490.0,29650.0,57000.0,90200.0
1,20221024,223616,873000.0,178000.0,75200.0,57200.0,246500.0,57500.0,509000.0,91800.0,...,34950.0,22450.0,4165.0,32150.0,36450.0,13600.0,7450.0,30800.0,63500.0,90900.0
2,20221021,221312,847000.0,174000.0,71800.0,55500.0,243000.0,55900.0,499000.0,90500.0,...,34150.0,21700.0,3975.0,31700.0,34550.0,13300.0,7590.0,30250.0,63200.0,87500.0
3,20221020,221809,835000.0,171500.0,72700.0,56400.0,240000.0,55500.0,495000.0,90200.0,...,36450.0,22950.0,4230.0,32900.0,36100.0,14050.0,7640.0,30900.0,63600.0,87800.0
4,20221019,223744,847000.0,171500.0,74900.0,55500.0,240500.0,55800.0,497500.0,92900.0,...,35700.0,23100.0,4215.0,31300.0,36000.0,13350.0,7640.0,30600.0,63700.0,88300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,20211029,297068,871000.0,200500.0,230000.0,59900.0,264000.0,69800.0,NaN,103000.0,...,50300.0,41350.0,6250.0,41850.0,135000.0,24400.0,14400.0,38050.0,69400.0,46600.0
244,20211028,300955,886000.0,215500.0,245500.0,60800.0,268500.0,70700.0,NaN,106500.0,...,50200.0,41250.0,6380.0,42250.0,132500.0,24200.0,14650.0,38450.0,69300.0,47450.0
245,20211027,302549,898000.0,219000.0,229000.0,61600.0,273000.0,70100.0,NaN,101500.0,...,50800.0,41400.0,6630.0,43600.0,135000.0,25700.0,14850.0,39800.0,70100.0,46550.0
246,20211026,304908,879000.0,222500.0,227000.0,62000.0,276500.0,71100.0,NaN,102000.0,...,51500.0,42350.0,6650.0,43450.0,136500.0,26100.0,15100.0,38200.0,70400.0,46300.0
247,20211025,302054,877000.0,216500.0,215500.0,61200.0,273000.0,70200.0,NaN,100000.0,...,51600.0,41600.0,6610.0,44200.0,135000.0,25750.0,14900.0,38750.0,70200.0,46400.0

In [39]:
# null 값 확인
df_stock_1year.isna().sum()[df_stock_1year.isna().sum() > 0]

LG에너지솔루션    67
dtype: int64

In [23]:
df

,ind,top_5_ind_list,top_5_href,top_5_code
0,의약품,"['삼성바이오로직스', '셀트리온', 'SK바이오사이언스', '유한양행', '한미약품']","['https://finance.daum.net/quotes/A207940', 'h...","['207940', '068270', '302440', '000100', '1289..."
1,전기전자,"['삼성전자', 'LG에너지솔루션', 'SK하이닉스', '삼성SDI', '삼성전자우']","['https://finance.daum.net/quotes/A005930', 'h...","['005930', '373220', '000660', '006400', '0059..."
2,비금속광물,"['포스코케미칼', '쌍용C&E', '아이에스동서', '한일시멘트', 'KCC글라스']","['https://finance.daum.net/quotes/A003670', 'h...","['003670', '003410', '010780', '300720', '3448..."
3,통신업,"['SK텔레콤', 'KT', 'LG유플러스', '현대퓨처넷', '인스코비']","['https://finance.daum.net/quotes/A017670', 'h...","['017670', '030200', '032640', '126560', '0064..."
4,음식료품,"['CJ제일제당', '오리온', '농심', '오뚜기', '하이트진로']","['https://finance.daum.net/quotes/A097950', 'h...","['097950', '271560', '004370', '007310', '0000..."
5,종이목재,"['한솔제지', '아세아제지', '신대양제지', '무림P&P', '영풍제지']","['https://finance.daum.net/quotes/A213500', 'h...","['213500', '002310', '016590', '009580', '0067..."
7,서비스업,"['NAVER', '카카오', '삼성에스디에스', '크래프톤', '엔씨소프트']","['https://finance.daum.net/quotes/A035420', 'h...","['035420', '035720', '018260', '259960', '0365..."
8,전기가스업,"['한국전력', '한국가스공사', '서울가스', '삼천리', 'SGC에너지']","['https://finance.daum.net/quotes/A015760', 'h...","['015760', '036460', '017390', '004690', '0050..."
9,운수장비,"['현대차', '기아', '현대모비스', '현대중공업', '한국조선해양']","['https://finance.daum.net/quotes/A005380', 'h...","['005380', '000270', '012330', '329180', '0095..."
10,보험,"['삼성생명', '삼성화재', 'DB손해보험', '메리츠화재', '현대해상']","['https://finance.daum.net/quotes/A032830', 'h...","['032830', '000810', '005830', '000060', '0014..."
11,의료정밀,"['에스디바이오센서', '덴티움', '케이씨텍', '케이씨', '우진']","['https://finance.daum.net/quotes/A137310', 'h...","['137310', '145720', '281820', '029460', '1058..."
12,섬유의복,"['F&F', '한섬', '한세실업', 'LF', '방림']","['https://finance.daum.net/quotes/A383220', 'h...","['383220', '020000', '105630', '093050', '0036..."
13,금융업,"['KB금융', '신한지주', 'SK', '삼성생명', 'LG']","['https://finance.daum.net/quotes/A105560', 'h...","['105560', '055550', '034730', '032830', '0035..."
14,증권,"['미래에셋증권', 'NH투자증권', '삼성증권', '메리츠증권', '키움증권']","['https://finance.daum.net/quotes/A006800', 'h...","['006800', '005940', '016360', '008560', '0394..."
15,운수창고,"['HMM', '대한항공', '현대글로비스', '한진칼', '팬오션']","['https://finance.daum.net/quotes/A011200', 'h...","['011200', '003490', '086280', '180640', '0286..."
16,유통업,"['삼성물산', 'BGF리테일', '호텔신라', 'GS리테일', '롯데쇼핑']","['https://finance.daum.net/quotes/A028260', 'h...","['028260', '282330', '008770', '007070', '0235..."
17,철강금속,"['POSCO홀딩스', '고려아연', '현대제철', '영풍', '동국제강']","['https://finance.daum.net/quotes/A005490', 'h...","['005490', '010130', '004020', '000670', '0012..."
18,화학,"['LG화학', 'SK이노베이션', 'S-Oil', '한화솔루션', 'LG생활건강']","['https://finance.daum.net/quotes/A051910', 'h...","['051910', '096770', '010950', '009830', '0519..."
19,건설업,"['현대건설', 'GS건설', '대우건설', '한전KPS', 'DL이앤씨']","['https://finance.daum.net/quotes/A000720', 'h...","['000720', '006360', '047040', '051600', '3755..."
20,기계,"['두산에너빌리티', '한온시스템', '두산밥캣', '씨에스윈드', 'LIG넥스원']","['https://finance.daum.net/quotes/A034020', 'h...","['034020', '018880', '241560', '112610', '0795..."

In [40]:
# 삼성생명 중복 처리
del df_stock_1year['삼성생명_y']
df_stock_1year.rename(columns = {'삼성생명_x' : '삼성생명'}, inplace=True)
df_stock_1year['삼성생명']

0      66500.0
1      66200.0
2      66200.0
3      66200.0
4      65800.0
        ...
243    67300.0
244    69100.0
245    69800.0
246    70700.0
247    70400.0
Name: 삼성생명, Length: 248, dtype: float64

In [41]:
# 산업구분 별로 합치기
df_ind_1year = df_stock_1year[['날짜', 'KOSPI']]
for idx in df.index :
    industry = df.loc[idx, 'ind']
    com_list = df.loc[idx, 'top_5_ind_list'][1:-1].replace("'", '').split(',')
    com_list = list(map(lambda x : x.strip(), com_list))
    if industry == '전기전자':
        com_list.remove('LG에너지솔루션')
    df_temp = df_stock_1year[['날짜'] + com_list].groupby('날짜').mean().mean(axis=1).reset_index().sort_values(by='날짜', ascending=False)
    del df_temp['날짜']
    df_temp = df_temp.rename(columns = { 0 : industry})
    df_ind_1year = pd.concat([df_ind_1year, df_temp], axis=1)
df_ind_1year

,날짜,KOSPI,의약품,전기전자,비금속광물,통신업,음식료품,종이목재,서비스업,전기가스업,...,의료정밀,섬유의복,금융업,증권,운수창고,유통업,철강금속,화학,건설업,기계
0,20221025,223876,328640.0,241750.0,56636.0,72820.0,267040.0,32102.0,359100.0,75710.0,...,34304.0,190006.0,103800.0,36732.0,59480.0,104220.0,334990.0,522270.0,55802.0,39200.0
1,20221024,223616,333400.0,246025.0,56612.0,72806.0,266780.0,32142.0,364400.0,76210.0,...,34944.0,189668.0,104200.0,37143.0,59748.0,104070.0,335410.0,513430.0,56090.0,39220.0
2,20221021,221312,336120.0,246550.0,55816.0,72744.0,265250.0,32082.0,366300.0,75570.0,...,34450.0,190214.0,103030.0,37053.0,58528.0,103210.0,330510.0,489230.0,55486.0,39400.0
3,20221020,221809,335260.0,247150.0,55446.0,72575.0,261960.0,31814.0,357900.0,75580.0,...,34312.0,192263.0,100800.0,36364.0,57984.0,100810.0,318360.0,483700.0,54516.0,38810.0
4,20221019,223744,325080.0,242700.0,55590.0,72467.0,259460.0,31872.0,356400.0,75140.0,...,33972.0,190872.0,99270.0,35768.0,57084.0,100020.0,316100.0,478570.0,54950.0,38570.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,20211029,297068,277880.0,201600.0,55418.0,19862.0,252490.0,28618.0,176460.0,135690.0,...,30266.0,40294.0,87010.0,25932.0,50766.0,94250.0,308880.0,294280.0,26063.0,40718.0
244,20211028,300955,275120.0,196675.0,55556.0,20012.0,251350.0,28619.0,174150.0,136850.0,...,30630.0,40526.0,87110.0,24284.0,50668.0,95170.0,305370.0,284920.0,26526.0,40798.0
245,20211027,302549,278260.0,206350.0,54774.0,20115.0,250410.0,28540.0,174770.0,136280.0,...,29262.0,39598.0,85670.0,23742.0,50449.0,95810.0,296840.0,286630.0,25215.0,40368.0
246,20211026,304908,285980.0,212950.0,56358.0,20106.0,251500.0,28857.0,176290.0,138070.0,...,29858.0,39918.0,85590.0,24800.0,49512.0,96170.0,300430.0,282840.0,26033.0,41250.0
247,20211025,302054,292160.0,216025.0,56964.0,20215.0,251630.0,28868.0,177080.0,139390.0,...,29684.0,39868.0,85930.0,24473.0,48773.0,94720.0,299020.0,276920.0,25565.0,39428.0

In [43]:
# 날짜 코스피 제거
ind_list = df_ind_1year.columns.drop(['날짜', 'KOSPI'])
df_ind_1year[ind_list]

,의약품,전기전자,비금속광물,통신업,음식료품,종이목재,서비스업,전기가스업,운수장비,보험,의료정밀,섬유의복,금융업,증권,운수창고,유통업,철강금속,화학,건설업,기계
0,328640.0,241750.0,56636.0,72820.0,267040.0,32102.0,359100.0,75710.0,154260.0,88410.0,34304.0,190006.0,103800.0,36732.0,59480.0,104220.0,334990.0,522270.0,55802.0,39200.0
1,333400.0,246025.0,56612.0,72806.0,266780.0,32142.0,364400.0,76210.0,156260.0,88280.0,34944.0,189668.0,104200.0,37143.0,59748.0,104070.0,335410.0,513430.0,56090.0,39220.0
2,336120.0,246550.0,55816.0,72744.0,265250.0,32082.0,366300.0,75570.0,156700.0,88840.0,34450.0,190214.0,103030.0,37053.0,58528.0,103210.0,330510.0,489230.0,55486.0,39400.0
3,335260.0,247150.0,55446.0,72575.0,261960.0,31814.0,357900.0,75580.0,154700.0,84300.0,34312.0,192263.0,100800.0,36364.0,57984.0,100810.0,318360.0,483700.0,54516.0,38810.0
4,325080.0,242700.0,55590.0,72467.0,259460.0,31872.0,356400.0,75140.0,153020.0,82290.0,33972.0,190872.0,99270.0,35768.0,57084.0,100020.0,316100.0,478570.0,54950.0,38570.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,277880.0,201600.0,55418.0,19862.0,252490.0,28618.0,176460.0,135690.0,125800.0,77110.0,30266.0,40294.0,87010.0,25932.0,50766.0,94250.0,308880.0,294280.0,26063.0,40718.0
244,275120.0,196675.0,55556.0,20012.0,251350.0,28619.0,174150.0,136850.0,124860.0,77430.0,30630.0,40526.0,87110.0,24284.0,50668.0,95170.0,305370.0,284920.0,26526.0,40798.0
245,278260.0,206350.0,54774.0,20115.0,250410.0,28540.0,174770.0,136280.0,123280.0,76780.0,29262.0,39598.0,85670.0,23742.0,50449.0,95810.0,296840.0,286630.0,25215.0,40368.0
246,285980.0,212950.0,56358.0,20106.0,251500.0,28857.0,176290.0,138070.0,120480.0,75730.0,29858.0,39918.0,85590.0,24800.0,49512.0,96170.0,300430.0,282840.0,26033.0,41250.0
247,292160.0,216025.0,56964.0,20215.0,251630.0,28868.0,177080.0,139390.0,119680.0,75490.0,29684.0,39868.0,85930.0,24473.0,48773.0,94720.0,299020.0,276920.0,25565.0,39428.0

In [44]:
df_ind_1year_sc = df_ind_1year.copy()
ind_list = df_ind_1year_sc.columns.drop(['날짜', 'KOSPI'])
for col in ind_list :
    df_ind_1year_sc[col] = df_ind_1year_sc[col] / df_ind_1year_sc.KOSPI
scaler = MinMaxScaler()
df_ind_1year_sc[ind_list] = scaler.fit_transform(df_ind_1year_sc[ind_list])
df_ind_1year_sc

,날짜,KOSPI,의약품,전기전자,비금속광물,통신업,음식료품,종이목재,서비스업,전기가스업,...,의료정밀,섬유의복,금융업,증권,운수창고,유통업,철강금속,화학,건설업,기계
0,20221025,223876,0.874488,0.850165,0.924355,0.958041,0.984664,0.911672,0.830843,0.314529,...,0.906448,0.870515,0.984715,0.891644,0.985742,0.994951,0.994117,1.000000,0.957071,0.832251
1,20221024,223616,0.907890,0.886848,0.926021,0.959202,0.985264,0.918095,0.850956,0.329147,...,0.954930,0.869880,0.996580,0.912776,1.000000,0.994162,1.000000,0.973999,0.966172,0.837083
2,20221021,221312,0.948291,0.911744,0.917451,0.970636,1.000000,0.940864,0.871057,0.332795,...,0.945277,0.883571,0.994360,0.926552,0.974168,1.000000,0.989389,0.913659,0.965492,0.880612
3,20221020,221809,0.937716,0.912120,0.897537,0.965126,0.953122,0.912375,0.838346,0.328792,...,0.929794,0.892432,0.937803,0.890288,0.945364,0.927787,0.894872,0.892555,0.937025,0.830163
4,20221019,223744,0.852633,0.858957,0.883999,0.952945,0.895890,0.894142,0.822093,0.301475,...,0.884227,0.875813,0.882920,0.847773,0.885931,0.882376,0.858261,0.863046,0.935953,0.787515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,20211029,297068,0.100878,0.127756,0.332006,0.007813,0.067170,0.037222,0.036247,0.973816,...,0.087654,0.006330,0.114434,0.091872,0.089095,0.092626,0.251684,0.052134,0.025337,0.205018
244,20211028,300955,0.070006,0.082508,0.314610,0.006470,0.027658,0.014162,0.024173,0.962447,...,0.085957,0.005141,0.096848,0.023089,0.065137,0.086292,0.210881,0.021136,0.027675,0.180205
245,20211027,302549,0.078086,0.133888,0.282890,0.006434,0.007569,0.000000,0.023387,0.938654,...,0.005301,0.000564,0.064817,0.000000,0.049900,0.089026,0.156340,0.021605,0.000000,0.144985
246,20211026,304908,0.104529,0.163362,0.316724,0.004434,0.000000,0.005758,0.023793,0.951917,...,0.024540,0.000608,0.052314,0.029820,0.008629,0.081301,0.163143,0.007651,0.011756,0.175668
247,20211025,302054,0.147124,0.193575,0.350187,0.008052,0.022007,0.023052,0.030148,1.000000,...,0.030108,0.001907,0.071569,0.026548,0.000000,0.070222,0.170691,0.000000,0.007472,0.097266

In [45]:
df_ind_1year_sc.to_csv('industry_top5stock_KOSPI_index_1025.csv', index=False)